<div class="content">

  <mat-card>
  <div class="col-md-12 p-z">

    <span *ngIf="counts|async">{{counts|async|json}}</span>

    <div class="col-md-4 pull-left">
      <div class="dashnoard-circle dashnoard-circle-blue make-center">25</div>
      <div class="text-center">In Progress</div>
    </div>
    <div class="col-md-4 pull-left">
      <div class="dashnoard-circle dashnoard-circle-green make-center">100</div>
      <div class="text-center">Approved</div>
    </div>
    <div class="col-md-4 pull-left">
        <div class="dashnoard-circle dashnoard-circle-red make-center">5</div>
        <div class="text-center">Tours</div>
      </div>
  </div>
  <div class="fix"></div>
</mat-card>
</div>