.dashnoard-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    line-height: 200px;
    text-align: center;
    font-size: 400%;
}

.dashnoard-circle-blue{
    border: 5px solid #4285f4
}
.dashnoard-circle-green{
    border: 5px solid #34a853
}
.dashnoard-circle-red{
    border: 5px solid #ea4335
}