<div class="content lg-bg min-ht-100-p min-wd-100-p">
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 make-center">

    <mat-card class="make-center m-t-tw-p">
      <mat-card-content>
        <h5>Project</h5>
      </mat-card-content>
      <!-- <mat-card-title>Sign in</mat-card-title> -->
      <mat-card-subtitle>Sign in</mat-card-subtitle>
      <mat-card-header class="margin-zero">
        <form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
          <div>
            <mat-form-field>
              <input matInput placeholder="Email or Mobile" autofocus matInput 
                required formControlName="name" maxlength="50">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Password" [type]="hidePass ? 'password' : 'text'" formControlName="password" matInput required>
              <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary"  class="pull-right"
              [disabled]="!validateForm.valid" type="submit">Login</button>
          </div>

        </form>
      </mat-card-header>

      <!-- <mat-card-subtitle class="m-b-ft">
        <p class="pull-right">
          <span class="cursor" (click)="redirectForgot()"> Forgot password </span>
        </p>
      </mat-card-subtitle> -->

    </mat-card>

  </div>
</div>