<div class="content">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 make-center">

    <mat-card>
      <mat-card-content>
        <h5>Add Member</h5>
      </mat-card-content>
      <mat-card-header class="m-z">
        <form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
          <div>
            <mat-form-field>
              <input matInput placeholder="First Name" autofocus matInput required formControlName="firstName">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Middle Name" autofocus matInput required formControlName="middleName">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Last Name" autofocus matInput required formControlName="lastName">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Email" autofocus matInput required formControlName="email">
              <mat-icon matSuffix>
                <i class="material-icons">email</i>
              </mat-icon>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <span matPrefix>+91 &nbsp;</span>
              <input matInput placeholder="Mobile" autofocus matInput required formControlName="mobile" maxlength="10">
              <mat-icon matSuffix>
                <i class="material-icons">phone</i>
              </mat-icon>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Select Department" formControlName="department" required>
                <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                  </mat-option> -->
                <mat-option value="HR">HR</mat-option>
                <mat-option value="MGT">MGT</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Select Designation" formControlName="designation" required>
                <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{ food.viewValue }}
                    </mat-option> -->
                <mat-option value="Manager">Manager</mat-option>
                <mat-option value="CEO">CEO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <button mat-raised-button color="primary" class="pull-right" [disabled]="!validateForm.valid" type="submit">Sumbit</button>
          </div>

        </form>
      </mat-card-header>
    </mat-card>

  </div>
</div>