<div class="content lg-bg min-ht-100-p min-wd-100-p">
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 make-center">

    <mat-card class="make-center m-t-tw-p">
      <mat-card-content>
        <h5>Project</h5>
      </mat-card-content>
      <mat-card-subtitle>Forgot password</mat-card-subtitle>
      <mat-card-header class="margin-zero">
        <form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
          <div>
            <mat-form-field>
              <input matInput placeholder="Email" autofocus matInput 
                required formControlName="email" maxlength="50">
              <mat-icon matSuffix><i class="material-icons">email</i></mat-icon>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" class="pull-right" 
              [disabled]="!validateForm.valid" type="submit">
              Forgot Password
            </button>
          </div>
        </form>
      </mat-card-header>

    </mat-card>
  </div>
</div>