<div class="content lg-bg min-ht-100-p min-wd-100-p">
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 make-center">

    <mat-card class="make-center m-t-t-p">
      <mat-card-content>
        <h5>Project</h5>
      </mat-card-content>
      <!-- <mat-card-title>Sign in</mat-card-title> -->
      <mat-card-subtitle>Sign up</mat-card-subtitle>
      <mat-card-header class="margin-zero">
        <form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
          <div>
            <mat-form-field>
              <input matInput placeholder="First Name" autofocus matInput 
                required formControlName="firstName" maxlength="25">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Middle Name" autofocus matInput 
                required formControlName="middleName" maxlength="25">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Last Name" autofocus matInput 
                required formControlName="lastName" maxlength="25">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Email" autofocus matInput required 
                formControlName="email" maxlength="50">
                <mat-icon matSuffix><i class="material-icons">email</i></mat-icon>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
                <span matPrefix>+91 &nbsp;</span>
              <input matInput placeholder="Mobile" autofocus matInput 
                required formControlName="mobile" maxlength="10">
              <mat-icon matSuffix><i class="material-icons">phone</i></mat-icon>
            </mat-form-field>
          </div>
          <mat-form-field>
              <input matInput placeholder="Password" type="password" formControlName="password" 
                required id="passwordId" (keyup)="(refrencePassword.value = '')" 
                [type]="hidePass ? 'password' : 'text'" maxlength="25">
                <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Confirm password" type="password" 
                formControlName="cPassword" required #refrencePassword 
                [type]="hideConfPass ? 'password' : 'text'" maxlength="25">
              <mat-icon matSuffix (click)="hideConfPass = !hideConfPass">{{hideConfPass ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
  
          <div>
            <button mat-raised-button color="primary" class="pull-right" 
              [disabled]="!validateForm.valid" type="submit">
              Register
            </button>
          </div>
        </form>
      </mat-card-header>

    </mat-card>

  </div>
</div>