<div class="profile_bg min-ht-100-p min-wd-100-p">
  <div class="col-md-8 col-sm-10 col-xs-11 make-center">

    <span *ngIf="userInfo|async">{{userInfo|async|json}}</span>

    <mat-card class="m-t-tw-p">
      <mat-card-header>
        <mat-card-title>
          <h4>Mangesh Bhuskute</h4>
        </mat-card-title>
        <mat-card-subtitle>
          Department: HR, Designation: Manager
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          Email: mangesh@gmail.com 
          <br />
          Mobile: 1234567890
        </p>
      </mat-card-content>

      <mat-card-actions>
        <!-- <button mat-button>LIKE</button> -->
      </mat-card-actions>
    </mat-card>


  </div>
</div>