.profile_bg{
    background-image: url("http://backgroundcheckall.com/wp-content/uploads/2017/12/profile-background-com-10.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}