<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 make-center">

  <mat-card class="make-center m-t-t-p">
    <mat-card-content>
      <h5>Project</h5>
    </mat-card-content>
    <!-- <mat-card-title>Sign in</mat-card-title> -->
    <mat-card-subtitle>Sign up</mat-card-subtitle>
    <mat-card-header class="margin-zero">
      <form [formGroup]="validateForm" (ngSubmit)="onSubmit()">

        <mat-form-field>
          <input matInput placeholder="Old Password" type="password" 
            formControlName="oldPassword" required 
            [type]="oldHidePass ? 'password' : 'text'" maxlength="25">
          <mat-icon matSuffix (click)="oldHidePass = !oldHidePass">{{oldHidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="New Password" type="password" 
            formControlName="newPassword" required
            (keyup)="(refrencePassword.value = '')"
            [type]="hidePass ? 'password' : 'text'" maxlength="25">
          <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Confirm password" type="password" 
            formControlName="cPassword" required #refrencePassword 
            [type]="hideConfPass ? 'password' : 'text'" maxlength="25">
          <mat-icon matSuffix (click)="hideConfPass = !hideConfPass">{{hideConfPass ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <div>
          <button mat-raised-button color="primary" class="pull-right" 
            [disabled]="!validateForm.valid" type="submit">
            Update Password
          </button>
        </div>
      </form>
    </mat-card-header>

  </mat-card>
</div>