<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar fix-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">{{menuText}}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" 
      [style.marginTop.px]="mobileQuery.matches ? 0 : 0">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" 
        [fixedInViewport]="mobileQuery.matches" [fixedInViewport]="webQuery.matches"
        fixedTopGap="56" opened="true" class="fix-sidenav web-sidenav-m-t">
      <mat-nav-list>
        <a mat-list-item routerLink="/login"> LOGIN </a>
        <a mat-list-item routerLink="/register"> REGISTER </a>
        <a mat-list-item routerLink="/dashboard"> DASHBOARD </a>
        <a mat-list-item routerLink="/user/profile"> PROFILE </a>
        <a mat-list-item routerLink="/add/member"> ADD MEMBER </a>
        <a mat-list-item routerLink="/password/update"> UPDATE PASSWORD </a>
        <a mat-list-item routerLink="/password/forgot"> FORGOT PASSWORD </a>

        <a mat-list-item (click)="logoutUser()"> LOGOUT </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-z min-ht-550-px toolbar-m-t">
        <router-outlet></router-outlet>
      </div>

      <footer id="footer">
        <app-footer></app-footer>
      </footer>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>