mat-sidenav {
  width: 150px;
}

.fix-toolbar{
  position: fixed;
  z-index: 2;
}

.fix-sidenav{
  position: fixed;
}
.toolbar-m-t{
  margin-top: 64px !important;
}

@media only screen and (min-width : 601px) {
  .web-sidenav-m-t{
    margin-top: 64px;
  }
}